.App {
  text-align: center;
  justify-content: center;
}

.container {
  max-width: 450px;
  margin: 10px auto;
  background: rgb(169, 180, 230);
  padding: 0px 30px;
  box-shadow: 0px 5px 18px rgba(170, 113, 113, 0.1);
  border-radius: 12px;
  /* height: 100px; */
}
.meter {
  width: 100%;
  height: 14px;
  background: #ddd;
  border-radius: 8px;
  margin-top: 8px;
  overflow: hidden;
}
.title-row {
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: center; /* centers horizontally */
}

.title-icon {
  width: 40px;
  height: auto;
  filter: brightness(0.85) contrast(0.9) grayscale(20%);
  border-radius: 50%;
  margin-bottom: 10px;
}
.title-icon {
  animation: float 3s infinite ease-in-out;
}

@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-5px); }
  100% { transform: translateY(0px); }
}


.mini-plane{
  width: 459px;
  float: left;
  opacity: 0.8;
}
.meter-fill {
  height: 100%;
  transition: width 0.4s ease-in-out;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}
label{
  font-weight: 600;
  display: inline-block;
  margin-top: 1px;
}
.predict-result{
  border-left: 10px solid rgb(112, 112, 183);
  background-color: white;
  padding: 20px;
  margin: 20px 40px;
  border-radius: 2px;
}
input, select {
  width: 100%;
  margin-top: 5px;
  padding: 8px 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
}
button {
  background: #4675a7;
  color: white;
  border: none;
  padding: 10px 12px;
  margin-top: 15px;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
  font-size: 15px;
  font-weight: 600;
}
button:hover {
  background: #194066;
}
.result-box {
  margin-top: 20px;
  padding: 12px;
  background: #eef5ff;
  border-radius: 8px;
  border-left: 5px solid #007bff;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
body {
  background: #e5e1efff;
  font-family: 'Poppins', sans-serif;
  
  margin: 0;
  min-height: 100vh;
  font-family: Arial, sans-serif;

  background-image:
    linear-gradient(
      rgba(233, 119, 13, 0.35),
      rgba(185, 17, 17, 0.35)
    ),
    url(../public/bg.png);

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}


.App-header {
  background-color: #1e4dac;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
